[defaults]
host_key_checking = False

# Enabling pipelining speeds up ansible runs significantly:
# http://docs.ansible.com/ansible/latest/intro_configuration.html#pipelining
pipelining = True


# Do smart gathering: use fact cache.
# http://docs.ansible.com/ansible/latest/intro_configuration.html#gathering
gathering = smart
fact_caching_timeout = 600

