[Unit]
Description={{service_shorthand}}
After=network.target

[Service]
Type=simple
User=%i
{% for key, value in service_environment.items() %}
Environment={{key}}={{value}}
{% endfor %}
WorkingDirectory={{service_working_dir}}
ExecStart={{service_exec_start}}

[Install]
WantedBy=multi-user.target
