[Unit]
Description=Home Assistant
After=network.target

[Service]
Type=simple
User=%i
ExecStart={{homeassistant_dir}}/.venv/bin/hass -c "{{homeassistant_dir}}"

[Install]
WantedBy=multi-user.target
