[Unit]
Description=Prometheus Node Exporter
After=network.target

[Service]
Type=simple
User={{prometheus_user}}
ExecStart={{prometheus_dir}}/node_exporter --collector.systemd --collector.textfile.directory {{backups_prometheus_exports_dir}}

[Install]
WantedBy=multi-user.target
